footer {
    /*
        Here we can put css elements of css that will act on the html through the link
     */
    background-color: white;
    height: 70px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    border-bottom: 1px #CCCCCC solid;
}