footer {
    /*
        Here we can put css elements of css that will act on the html through the link
     */
    background-color: white;
    height: 50px;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    border-top: 1px #CCCCCC solid;
}